<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:ignore="WrongManifestParent" /> <!-- Location Permissions -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="ManifestOrder,WrongManifestParent" /> <!-- For background location access on Android 10 and above -->
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:maxSdkVersion="29"
        tools:ignore="WrongManifestParent" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoMain"
        tools:targetApi="31">
        <activity
            android:name=".admin.utils.requestList.RequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.utils.RequestsActivity"
            android:exported="false" />
        <activity
            android:name=".user.utils.RequestServiceActivity"
            android:exported="false" />
        <activity
            android:name=".componentActivity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.serviceList.EditServiceActivity"
            android:exported="false" />
        <activity
            android:name=".componentActivity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".admin.serviceList.ServiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.utils.UserMenuActivity"
            android:exported="false" />
        <activity
            android:name=".admin.utils.AddServiceActivity"
            android:exported="false" />
        <activity
            android:name=".admin.utils.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.AutoMain"/>
        <activity
            android:name=".user.UserActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>